<form [formGroup]="formGroup">
  <cjp-form-group>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="formGroup.controls.name" id="comic_name" />
    </mat-form-field>
  </cjp-form-group>
  <cjp-form-group formArrayName="altNames">
    <mat-form-field
      appearance="outline"
      *ngFor="
        let altName of formGroup.controls.altNames.controls;
        let i = index
      ">
      <mat-label>Alt Name {{ i + 1 }}</mat-label>
      <input matInput [formControl]="altName" id="alt_name_{{ i }}" />
      <button mat-icon-button matSuffix (click)="delAltName(i)">
        <mat-icon cdkDragHandle fontIcon="delete"></mat-icon>
      </button>
    </mat-form-field>
    <button
      type="button"
      mat-stroked-button
      color="primary"
      (click)="addAltName()">
      Add alt name
    </button>
  </cjp-form-group>

  <cjp-form-group
    formArrayName="resources"
    cdkDropList
    (cdkDropListDropped)="drop($event)">
    <ng-container
      *ngFor="
        let rscForm of formGroup.controls.resources.controls;
        let i = index
      ">
      <cjp-form-group-row cdkDrag [formGroup]="rscForm">
        <!-- <mat-form-field appearance="outline">
          <mat-label>Id {{ i + 1 }}</mat-label>
          <input matInput formControlName="_id" id="id_{{ i }}" />
        </mat-form-field> -->
        <mat-form-field appearance="outline">
          <mat-label>Link {{ i + 1 }}</mat-label>
          <input
            matInput
            formControlName="link"
            id="link_{{ i }}"
            (input)="onLinkInput(i)" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Type {{ i + 1 }}</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="resourceTypes.DEFAULT">
              {{ resourceTypes.DEFAULT }}
            </mat-option>
            <mat-option [value]="resourceTypes.RAW">
              {{ resourceTypes.RAW }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" [hidden]="true">
          <mat-label>Priority {{ i + 1 }}</mat-label>
          <input
            type="number"
            matInput
            formControlName="priority"
            id="priority_{{ i }}"
            min="0" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Find site {{ i + 1 }}</mat-label>
          <mat-select formControlName="siteData">
            <mat-option *ngFor="let site of sites" [value]="site._id">
              {{ site.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end center" gdColumn="6">
          <button
            [disabled]="i === 0"
            mat-icon-button
            color="warn"
            (click)="delResource(i)">
            <mat-icon fontIcon="delete"></mat-icon>
          </button>
          <mat-icon cdkDragHandle fontIcon="swap_vert"></mat-icon>
        </div>
      </cjp-form-group-row>
    </ng-container>

    <button
      mat-stroked-button
      type="button"
      color="primary"
      (click)="addResource()">
      Add resource
    </button>
  </cjp-form-group>
</form>
