$app-base: (
  50: #e3f6f4,
  100: #b9eae4,
  200: #8adcd3,
  300: #5bcdc1,
  400: #37c3b3,
  500: #14b8a6,
  600: #12b19e,
  700: #0ea895,
  800: #0ba08b,
  900: #06917b,
  A100: #befff3,
  A200: #8bffea,
  A400: #58ffe0,
  A700: #3effdc,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$app-access: (
  50: #eceef1,
  100: #d1d5dc,
  200: #b2bac5,
  300: #939eae,
  400: #7b899c,
  500: #64748b,
  600: #5c6c83,
  700: #526178,
  800: #48576e,
  900: #36445b,
  A100: #adcbff,
  A200: #7aaaff,
  A400: #478aff,
  A700: #2e79ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$app-success: (
  50: #e4f8ec,
  100: #bdeecf,
  200: #91e2af,
  300: #64d68e,
  400: #43ce76,
  500: #22c55e,
  600: #1ebf56,
  700: #19b84c,
  800: #14b042,
  900: #0ca331,
  A100: #d1ffda,
  A200: #9effb2,
  A400: #6bff89,
  A700: #51ff75,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-info: (
  50: #e7f0fe,
  100: #c4dafc,
  200: #9dc1fb,
  300: #76a8f9,
  400: #5895f7,
  500: #3b82f6,
  600: #357af5,
  700: #2d6ff3,
  800: #2665f2,
  900: #1952ef,
  A100: #ffffff,
  A200: #eef2ff,
  A400: #bbcbff,
  A700: #a1b8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-warning: (
  50: #fef3e2,
  100: #fce2b6,
  200: #facf85,
  300: #f8bb54,
  400: #f7ad30,
  500: #f59e0b,
  600: #f4960a,
  700: #f28c08,
  800: #f08206,
  900: #ee7003,
  A100: #ffffff,
  A200: #ffeee1,
  A400: #ffd0ae,
  A700: #ffc195,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-help: (
  50: #f5ebfe,
  100: #e5ccfd,
  200: #d4aafb,
  300: #c288f9,
  400: #b56ff8,
  500: #a855f7,
  600: #a04ef6,
  700: #9744f5,
  800: #8d3bf3,
  900: #7d2af1,
  A100: #ffffff,
  A200: #fdfcff,
  A400: #dec9ff,
  A700: #cfb0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
